* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    list-style: none;
}

:root {
    --searchColor: #5aa2e9;
    --color1: #3b6ec4;
    --color2: #230455;
    --cardColor: #33475a;
}

/* jumbotron styles */
header {
    background-image: linear-gradient(to right, var(--color1), var(--color2));
}

h1 {
    font-size: 48px;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 24px;
}

/* button styles */
.search-btn {
    background-color: var(--searchColor);
    border-radius: 10px;
    font-size: 18px;
}

.search-btn:hover {
    background-color: var(--color1);
    border: 2px solid black;
}

.city-btn {
    background-color: #bbb;
    border-radius: 10px;
    font-size: 18px;
}

.city-btn:hover {
    background-color: #777;
    border: 2px solid black;
}

/* input styles */
.search-box {
    font-size: 24px;
}

/* uv index colors */
.uv-purple span {
    background-color: purple;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}

.uv-red span {
    background-color: red;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}

.uv-orange span {
    background-color: orange;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}

.uv-yellow span {
    background-color: yellow;
    color: black;
    padding: 2px 5px;
    border-radius: 5px;
}

.uv-green span {
    background-color: green;
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}

/* 5 day forecast cards */
.card {
    background-color: var(--cardColor);
    color: white;
}

.card img {
    max-width: 50px;
}

.card h4 {
    font-size: 32px;
}

li {
    font-size: 18px;
}

/* error notice styles */
.error-notice {
    border-radius: 10px;
}